@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    CKR Inventory<br />
    University of Oklahoma<br />
    MIS, Price College of Business<br />
    Norman, Oklahoma 73019
    <abbr title="Phone">Phone:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:randy.d.king-1@ou.edu">Randy King</a><br />
    <strong>Support:</strong>   <a href="mailto:kade.k.williams-1@ou.edu">Kade Williams</a><br />
    <strong>Support:</strong>   <a href="mailto:chad.a.simmons-1@ou.edu">Chad Simmons</a><br />
</address>